# Ignore everything
*
# Allow files and directories
!/tsconfig.json
!/apps/strapi-cms/
# Ignore this directories
**/apps/strapi-cms/build/
**/apps/strapi-cms/node_modules/
**/apps/strapi-cms/.env
**/apps/strapi-cms/data/
**/apps/strapi-cms/backup/