/* Override the default Storybook styles, workaround necessary due to bug on storybook itself */
.sbdocs-content {
  width: 100% !important;
  max-width: inherit !important;
  padding-left: 20px;
  padding-right: 20px;
}

/* Override the default Storybook padding, workaround necessary to avoid 'Show Code' button to overlay the component on storybook */
#story--components-preheader-light--default-pre-header--primary-inner
  .MuiStack-root {
  padding-bottom: 1em;
}

#story--components-preheader-light--default-pre-header-no-icon-inner
  .MuiStack-root {
  padding-bottom: 1em;
}

#story--components-preheader-light--default-pre-header-inner .MuiStack-root {
  padding-bottom: 1em;
}
