TENANTS_CONFIG={"demo":{"baseUrl":"demoStrapiApiBaseUrl","token":"demoStrapiToken","feedbackToken":"demoFeedbackToken"},"send":{"baseUrl":"sendStrapiApiBaseUrl","token":"sendStrapiToken","feedbackToken":"sendFeedbackToken"},"appio":{"baseUrl":"appioStrapiApiBaseUrl","token":"appioStrapiToken","feedbackToken":"appioFeedbackToken"},"interop":{"baseUrl":"interopStrapiApiBaseUrl","token":"interopStrapiToken","feedbackToken":"interopFeedbackToken"},"pagopa":{"baseUrl":"pagopaStrapiApiBaseUrl","token":"pagopaStrapiToken","feedbackToken":"pagopaFeedbackToken"},"wallet":{"baseUrl":"walletStrapiApiBaseUrl","token":"walletStrapiToken","feedbackToken":"walletFeedbackToken"}}
ENVIRONMENT=demo
PREVIEW_MODE=true
PREVIEW_TOKEN=MY_SECRET_TOKEN
MOCK_BUILD=true
