name: Check PR title

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
jobs:

  check_pr_title:
    # Execute this job only if the head branch is not the one created by changeset
    if: ${{ github.head_ref }} != 'changeset-release/main'
    name: Check PR title
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Check PR is linked to Jira activity
        uses: ./.github/actions/link-pr-to-jira-activity
