name: Code Review Infra

on:
  pull_request:
    branches: '**'
    # Run only if there are at least one change matching the following paths
    paths:
      - 'apps/infrastructure/src/**'
      - '.github/workflows/code_review_infra.yaml'

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  infrastructure_checks:
    strategy:
      matrix:
        environment: [prod] # add dev environment if necessary
    name: Infra checks
    runs-on: ubuntu-24.04
    environment: ${{ matrix.environment }}

    concurrency:
      group: terraform-${{ matrix.environment }}
      cancel-in-progress: false

    env:
      terraform_working_directory: apps/infrastructure/src

    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Setup Node.JS
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: npm ci --audit=false --fund=false

      - name: Compile Cloudfront Functions
        run: npm run compile -w cloudfront-functions

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-aws-credentials
        with:
          aws_region: 'eu-south-1'
          role_to_assume: ${{ secrets.IAM_ROLE }}

      - name: Setup Terraform
        uses: ./.github/actions/setup-terraform
        with:
          environment: ${{ matrix.environment }}
          working_directory: ${{ env.terraform_working_directory }}

      - name: Terraform Plan
        working-directory: ${{ env.terraform_working_directory }}
        run: ./terraform.sh plan ${{ matrix.environment }}
